:root {
  --main-color: #f58021;
  --black: #000;
  --white: #fff;
  --blue: #20113d;
  --hero-text: #00a092;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.montserrat-heavy {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.montserrat-semi-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--white);
  position: relative;
}

.logo img {
  height: 40px;
}

.nav-links li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-links li a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 2;
}

.burger span {
  width: 30px;
  height: 2.5px;
  background: var(--black);
  transition: all 0.3s ease;
  transform-origin: center;
}
.hero {
  background-image: url("../../assets/landing/panda-landing-mobile.png");
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 38%;
  padding-bottom: 15.5rem;
}
.hero .here-text {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  text-align: left;
  width: 95%;
}
.hero h2 {
  font-size: 2.3rem;
  color: var(--hero-text);
  margin-bottom: 1rem;
  letter-spacing: 0.02em;
}
.hero .here-text p {
  color: var(--black);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.06em;
}
.hero .here-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  height: 45px;
  text-align: center;
  background-color: var(--main-color);
  text-decoration: none;
}
.hero .here-text a img {
  width: 20px;
  margin-left: 10px;
}

.welcome {
  padding-top: 4rem;
  text-align: center;
}
.welcome img {
  width: 100%;
  height: 212px;
  margin-bottom: 2rem;
}
.welcome h2 {
  font-size: 1.5rem;
  color: var(--hero-text);
  margin-bottom: 1rem;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 0.5rem;
}
.welcome p {
  color: var(--black);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 0.5rem;
}
.donation {
  padding: 2rem 0.5rem;
  background-color: var(--blue);
  text-align: center;
}
.donation h2 {
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 1rem;
  letter-spacing: 0.04em;
}
.donation p {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.06em;
}
.donation h3 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 1rem;
  letter-spacing: 0.04em;
}
.donation-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.donation-form input {
  padding: 0.5rem;
  width: 92%;
  height: 45px;
  border: 1px solid var(--white);
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  display: block;
  outline: none;
  padding-left: 1.5rem;
}
.animal-card {
  background-color: var(--blue);
  border-radius: 20px;
  margin-top: 2.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.animal-card h3 {
  position: absolute;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--blue);
  margin-bottom: 0.5rem;
  padding: 10px 20px 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.animal-card img {
  width: 100%;
  height: 333px;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.animal-card h4 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}
.animal-card p {
  color: var(--white);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.animal-card a {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  color: var(--main-color);
  text-decoration: none;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.animal-card a img {
  height: 20px;
  width: 27px;
  margin-left: 10px;
  fill: var(--main-color);
}
.donation-form input::placeholder {
  color: var(--white);
  opacity: 1;
}
.donation-form button {
  position: absolute;
  right: 10%;
  padding: 0.5rem 1rem;
  height: 42px;
  width: 59px;
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donation-form button img {
  margin-left: 10px;
  height: 24px;
}
.donation-form button:hover {
  background-color: var(--hero-text);
}
.donation-form input:focus {
  border-color: var(--main-color);
}
.contact {
  padding: 2rem 0.5rem;
  text-align: center;
}
.contact h2 {
  font-size: 1.5rem;
  color: var(--hero-text);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.03em;
}
.pay-and-feed {
  padding-top: 2rem;
  text-align: center;
  background-color: var(--blue);
}
.pay-and-feed h2 {
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.03em;
}
.number-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 0.5rem;
}
.pay-and-feed .number-line h3 {
  font-size: 1.6rem;
  color: var(--white);
  letter-spacing: 0.04em;
}
#feed-icon {
  width: 80px;
  height: 100%;
}
.pay-and-feed .number-line hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: var(--white);
}
.pay-and-feed img {
  width: 100%;
  height: 200px;
  margin-top: 1rem;
}
.pay-and-feed p {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 0.5rem;
}
.pay-and-feed a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  height: 45px;
  text-align: center;
  background-color: var(--main-color);
  text-decoration: none;
  margin-left: 4%;
  margin-right: 4%;
}
#arrow-icon {
  width: 20px;
  height: 18px;
  margin-left: 15px;
  margin-top: 0;
}

@media (max-width: 640px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--blue);
    flex-direction: column;
    width: 300px;
    padding: 20px;
    display: none;
    z-index: 1;
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex;
    padding-top: 30%;
    text-align: center;
    gap: 3rem;
  }

  .menu-toggle:checked + .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--white);
  }

  .menu-toggle:checked + .burger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: var(--white);
  }
}
