:root {
    --main-color: #f58021;
    --black: #000;
    --black-transparant: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --blue: #20113d;
    --pale-green: rgba(0, 160, 146, 0.5);
    --pale-green-hower: #05786E;
    --black: #000;
    --pale-green: rgba(0, 160, 146, 0.5);
    --pale-green-solid: #00a092;
    --pale-green-hover: #05786e;
    --error-bg: rgba(217, 48, 37, 0.08);
    --success: #05786e;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-heavy {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.montserrat-semi-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}